
node_modules
uploads/*
!uploads/*.svg
!uploads/.gitkeep
.env

*.sqlite

### VisualStudioCode ###
.vscode/*
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
